body {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 100%);
    font-family:  "Kanit", sans-serif;
    overflow-x: hidden;
}


.logo{
    z-index: 5;
    display: block;
    position:fixed;
    margin-left: 100px;
    top: 25px;
    transition: 0.3s;
}

.logo:hover{
    display: block;
    position: fixed;
    top: 28px;
    transition: 0.3s;
}


.Spotify-registration{
    position: absolute;
    display: block;
    top: 30px;
    left: 35%;
    text-align: center;
    z-index: 4;
    height: 700px;    
    border-radius: 25px;
    background: linear-gradient(180deg, #030303 0%, #0f0f0f 100%);
    width: 450px;
    z-index: 2;
}

.logo-white{
    display: block;
    position: absolute;
    left: 750px;
    top: 50px;
    z-index: 3;
}

.Spotify-text{
    display: block;
    position: absolute;
    color: white;
    left: 700px;
    top: 110px;
    z-index: 3;
}

.username-input {
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    top: 200px;
    left: 610px;
    z-index: 3;
    display: block;
    position: absolute;
}

.email-input {
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    top: 250px;
    left: 610px;
    z-index: 3;
    display: block;
    position: absolute;
}

.username-input:focus {
    border-color: #000000;
    outline: none;
}

.email-input:focus {
    border-color: #000000;
    outline: none;
}

.submit-button {
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 30px;
    top: 250px;
    left: 610px;
    z-index: 3;
    display: block;
    position: absolute;
    background-color: #28a745;
    top:500px ;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;
}

.submit-button:active {
    background-color: #1e7e34;
}


.forgot-password {
    display: block;
    position:absolute;
    text-align: center;
    font-size: 14px;
    color: #2dd13b;
    top: 600px;
    left: 730px;
    text-decoration: none;
    transition: 0.3s ;
    z-index: 3;
}

.forgot-password:hover {
    color: #ffffff;
}



